{{ $src := .Get "src" }}
{{ $fw := .Get "fullwidth"}}
{{ $center := .Get "centered"}}
{{ $fullwidth := (or (eq $fw true) (eq $fw "true"))}}
{{ $centered := (or (eq $center true) (eq $center "true"))}}
{{ $matching_res := resources.GetMatch $src }}

{{if (not (eq $matching_res nil))}}
  {{$rgot := resources.Get $src}}
  {{$src = $rgot.RelPermalink}}
{{end}}

<img style="image-rendering: pixelated" class="{{if $fullwidth}}w-full{{else}}w-auto{{end}} {{if $centered}}mx-auto{{end}} px rounded-lg img-fluid" src="{{$src}}">